@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


:root{
  --height: 643px;
  --height2: 643px;
}

body{
  /* font-family: 'Oswald', sans-serif; */
font-family: 'Source Sans Pro', sans-serif;
overflow-x: hidden;
}

.input-group-text{
  background-color: transparent;
  border-radius: 25px 25px 25px 25px;
  border: 2px solid #78A6C8;
  color:#E65C4F;
}
.form-control{
  width: 1%;
  border-top: 2px solid #78A6C8;
  border-bottom: 2px solid #78A6C8;
  box-shadow: none;
  color:#E9EEF2;
  font-weight: 700;
  padding: 3px 3px 5px 6px; 
  text-align: center;
  background-color: transparent;
  border-left: none;
  border-right: none;
}

#totalPrice{
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}
#sell{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}
.result{
    background-color: #E65C4F;
    color: #E9EEF2;
    border: 2px solid #E65C4F;
}
.resultArea{
  background-color: #E9EEF2;
  color: #E65C4F;
}
#sell:hover {
  background-color: #E9EEF2;
  color: #E65C4F;
  border: 2px solid #E65C4F;
  border-top: none;
  border-bottom: none;
  border-right: none;

}

#nav-icon1 {
    width: 30px;
    height: 25px;
    position: relative;
    /* margin-left: 50px;  */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #326789;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    border-radius: 9px;
  }
  
  #nav-icon1 span:nth-child(1) {
    top: 0px;
    opacity: 1;
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 10px;
    opacity: 1;
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 20px;
    opacity: 1;
  }
  #nav-icon1:hover span:nth-child(3){
    top: 20px;
    opacity: 1;
    width: 50%;
    margin-left: 25%;
  }
  #nav-icon1:hover  span:nth-child(1){
    top: 0px;
    opacity: 1;
    width: 50%;
    margin-left: 25%;
  }
  
  #nav-icon1:hover span:nth-child(2) {
    top: 10px;
    opacity: 1;
  }

    /* IN Side menu Close Animation  */

    #nav-icon {
      width: 30px;
      height: 25px;
      position: relative;
      /* margin-left: 50px;  */
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
    }

    #nav-icon span {
      display: block;
      position: absolute;
      height: 6px;
      width: 100%;
      background: #E9EEF2;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      border-radius: 9px;
    }

    #nav-icon span:nth-child(1) {
      top: 0px;
      opacity: 1;
      width: 50%;
      margin-left: 25%;
    }

    #nav-icon span:nth-child(2) {
      top: 10px;
      opacity: 1;
    }

    #nav-icon span:nth-child(3) {
      top: 20px;
      opacity: 1;
      width: 50%;
      margin-left: 25%;
    }

    #nav-icon:hover  span:nth-child(1){
      top: 8px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      opacity: 1;
      width: 100%;
    }

    #nav-icon:hover span:nth-child(2) {
      opacity: 0;
      left: -60px;
    }
    #nav-icon:hover span:nth-child(3){
      top: 8px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
      opacity: 1;
      width: 100%;
    }

  .circle{
    border-radius: 25px 25px 25px 25px;
    background-color: #326789;
    width: 300px;
    height: 50px;
    padding: 6px 6px 0px 6px;
  }

  .searchBox{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
  }

  .search{
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: #E9EEF2;
  }
  .search::placeholder{
    color: #E9EEF2;
  }

  .search:is(:focus,:hover,:active){
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: #E9EEF2;
  }

 .search-append{
    border-radius: 25px 25px 25px 25px !important;
    background-color: #E65C4F;
    border: none;
    color: #E9EEF2;
    height: 40px !important;
  }


  /**side Menu CSS**/

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #326789;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #E9EEF2;
    display: block;
    transition: 0.3s;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
  }
  



  .sidenav a:hover {
    display: inline-block;
    position: relative;
    color: #E65C4F;
  }
  
  .sidenav a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #E65C4F;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .sidenav a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


.boxes{
  display: flex;
  gap: .5rem;
  padding: 10px 10px 10px 10px;
  flex-wrap: wrap;
}
.itemCards{

  width: 200px !important;
  height: 200px !important;
  box-shadow: 8px 8px 24px -14px rgba(0,0,0,0.22);
  -webkit-box-shadow: 8px 8px 24px -14px rgba(0,0,0,0.22);
  -moz-box-shadow: 8px 8px 24px -14px rgba(0,0,0,0.22);
  }
  .itemCards .card-body{
  padding-top: 0.5rem !important;
  }
  input:disabled{
    background-color: #326789 !important;
    color: #E65C4F !important;
  }

  .itemCards .card-text{
    color: #E65C4F;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    
  }
  .itemCards .card-title{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
  }
  .itemCards .card-img-top {
    height: 100px;
    width: 198px;
    object-fit: cover;
  }
  .roundedbuy{
    border-radius: 100% !important;
    object-fit: cover;
    width: 60px;
    height: 60px ;
    transition: width .5s ,height .5s;
    border: 2px solid #E65C4F;
    margin-left: 10px;
  }



   .buyBoxes{
      /* display: flex; */
      /* background-color: #E9EEF2; */
    width: 33%;
    padding: 10px 10px 10px 10px;
    border:2px solid #E65C4F;
    border-radius: 5px 5px 5px 5px;
    height: var(--height2);
    max-height: var(--height2);
    position: fixed;
    overflow-y: auto ;

  } 

  .BuyItemCards{
    /* background-color: #78A6C8; */
    background-color: #326789;
    /* flex-grow: 1; */
    height: fit-content;
    margin-top: 10px;
    color: #E9EEF2;
  }


  #buyBoxes h4, #buyBoxes p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: fit-content;
  }


  .Print{
    font-weight: 600;
    /* margin: 0px 0px 0px 500px; */
    text-align: center;

    display: none;

    /* width: %; */

  }
  .Print h5:last-child{
    float: right;
  }

  .Print2{
    font-weight: 600;
    /* margin: 0px 0px 0px 500px; */
    text-align: center;
  }    
  .Print2 h5:last-child{
    float: right;
  }

  .save{
    border: 2px solid #E65C4F;
    color: #E65C4F;
    font-weight: 600;
  }
  .top_Menu{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 98%;
    z-index: 1;
  }

  .shortCuts span{
    border: 1px solid #E65C4F;

  box-shadow: 10px 5px 32px -12px rgba(0,0,0,0.9);
  -webkit-box-shadow: 10px 5px 32px -12px rgba(0,0,0,0.9);
  -moz-box-shadow: 10px 5px 32px -12px rgba(0,0,0,0.9);

    border-radius: 25px;
    padding: 5px 10px 5px 10px;
    margin: 3px 3px 3px 3px;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #326789;

  }




.mobile{
  display: none;
}


  .closebtn{
    display: flex;
    justify-content: center;
    align-content: center;
  }

  /* 852 */

  @media screen and (max-width: 852px ) {

    #sell{
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 28px;
      font-weight: 700;
      line-height: 32px;
    }



  }



  @media screen and (max-width: 767px) {

    .closebtn{
        display: flex;
        justify-content: left;
        align-content: left;
      }

      .mobile{
        display: block;
      }

      .desktop{
        display: none;
      }

      .mobileitemCards{
        box-shadow: 8px 8px 24px -14px rgba(0,0,0,0.22);
        -webkit-box-shadow: 8px 8px 24px -14px rgba(0,0,0,0.22);
        -moz-box-shadow: 8px 8px 24px -14px rgba(0,0,0,0.22);
        margin: 0px 10px 10px 0px;
      }

        .mobileitemCards .card-body{
        padding-top: 0.5rem !important;
        }
        input:disabled{
          background-color: #326789 !important;
          color: #E65C4F !important;
        }
      
        .mobileitemCards .card-text{
          color: #E65C4F;
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 700;
          font-size: 20px;
          text-align: center;
          
        }
        .mobileitemCards .card-title{
          font-size: 18px;
          margin-top: 0px;
          margin-bottom: 0px;
          font-weight: 600;
        }
        .mobileitemCards .card-img-top {
          height: 90px;
          width: 100px;
          object-fit: cover;
        }
        .mobilebuyCards{
          position: fixed;
          bottom: 0px;
          height: fit-content;
          width: 100%;
          border: 2px solid #E65C4F;
          padding-top: 5px;
          background-color: #E65C4F;
        }
        .mobilebuyCards .form-control{
          border: #E65C4F;
          color: #ffff;
        }
        .mobilebuyCards .form-control:is(:hover,:focus,:active){
          border: #E65C4F;
          color: #ffff;
          background-color: #E65C4F;
          box-shadow: none;
        }
        .mobilebuyCards .form-control::placeholder{
          /* border: #E65C4F; */
          color: #ffff;
        }
        .input-group-addon{
          font-size: 20px;
          font-weight: 600;
        }
      .MobileSellButton  {
          background-color: #326789;
          color: #E9EEF2;
          padding: 5px 5px 5px 5px;
          
        }
        .MobileSellButton:is(:hover,:focus,:active){
          background-color: #E65C4F;
          color: #E9EEF2;
          
        }

}







/**Animations CSS**/



.tracking-in-expand-fwd-top {
  -webkit-animation: tracking-in-expand-fwd-top 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-expand-fwd-top 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* ----------------------------------------------
* Generated by Animista on 2023-3-10 2:51:41
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation tracking-in-expand-fwd-top
* ----------------------------------------
*/
@-webkit-keyframes tracking-in-expand-fwd-top {
0% {
  letter-spacing: -0.5em;
  -webkit-transform: translateZ(-700px) translateY(-500px);
          transform: translateZ(-700px) translateY(-500px);
  opacity: 0;
}
40% {
  opacity: 0.6;
}
100% {
  -webkit-transform: translateZ(0) translateY(0);
          transform: translateZ(0) translateY(0);
  opacity: 1;
}
}
@keyframes tracking-in-expand-fwd-top {
0% {
  letter-spacing: -0.5em;
  -webkit-transform: translateZ(-700px) translateY(-500px);
          transform: translateZ(-700px) translateY(-500px);
  opacity: 0;
}
40% {
  opacity: 0.6;
}
100% {
  -webkit-transform: translateZ(0) translateY(0);
          transform: translateZ(0) translateY(0);
  opacity: 1;
}
}
.tracking-out-contract-bck-top {
-webkit-animation: tracking-out-contract-bck-top 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: tracking-out-contract-bck-top 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
* Generated by Animista on 2023-3-10 2:53:23
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation tracking-out-contract-bck-top
* ----------------------------------------
*/
@-webkit-keyframes tracking-out-contract-bck-top {
0% {
  -webkit-transform: translateZ(0) translateY(0);
          transform: translateZ(0) translateY(0);
  opacity: 1;
}
60% {
  opacity: 1;
}
100% {
  letter-spacing: -0.5em;
  -webkit-transform: translateZ(-500px) translateY(-300px);
          transform: translateZ(-500px) translateY(-300px);
  opacity: 0;
}
}
@keyframes tracking-out-contract-bck-top {
0% {
  -webkit-transform: translateZ(0) translateY(0);
          transform: translateZ(0) translateY(0);
  opacity: 1;
}
60% {
  opacity: 1;
}
100% {
  letter-spacing: -0.5em;
  -webkit-transform: translateZ(-500px) translateY(-300px);
          transform: translateZ(-500px) translateY(-300px);
  opacity: 0;
}
}
.tracking-in-expand-fwd {
-webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}/* ----------------------------------------------
* Generated by Animista on 2023-3-10 3:35:31
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation tracking-in-expand-fwd
* ----------------------------------------
*/
@-webkit-keyframes tracking-in-expand-fwd {
0% {
  letter-spacing: -0.5em;
  -webkit-transform: translateZ(-700px);
          transform: translateZ(-700px);
  opacity: 0;
}
40% {
  opacity: 0.6;
}
100% {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  opacity: 1;
}
}
@keyframes tracking-in-expand-fwd {
0% {
  letter-spacing: -0.5em;
  -webkit-transform: translateZ(-700px);
          transform: translateZ(-700px);
  opacity: 0;
}
40% {
  opacity: 0.6;
}
100% {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  opacity: 1;
}
}
.jello-horizontal:hover {
-webkit-animation: jello-horizontal 0.9s both;
        animation: jello-horizontal 0.9s both;
}/* ----------------------------------------------
* Generated by Animista on 2023-3-10 3:56:4
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation jello-horizontal
* ----------------------------------------
*/
@-webkit-keyframes jello-horizontal {
0% {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
          transform: scale3d(1.25, 0.75, 1);
}
40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
          transform: scale3d(0.75, 1.25, 1);
}
50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
          transform: scale3d(1.15, 0.85, 1);
}
65% {
  -webkit-transform: scale3d(0.95, 1.05, 1);
          transform: scale3d(0.95, 1.05, 1);
}
75% {
  -webkit-transform: scale3d(1.05, 0.95, 1);
          transform: scale3d(1.05, 0.95, 1);
}
100% {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
}
@keyframes jello-horizontal {
0% {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
          transform: scale3d(1.25, 0.75, 1);
}
40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
          transform: scale3d(0.75, 1.25, 1);
}
50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
          transform: scale3d(1.15, 0.85, 1);
}
65% {
  -webkit-transform: scale3d(0.95, 1.05, 1);
          transform: scale3d(0.95, 1.05, 1);
}
75% {
  -webkit-transform: scale3d(1.05, 0.95, 1);
          transform: scale3d(1.05, 0.95, 1);
}
100% {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
}

input:invalid{
/* animation: name duration timing-function delay iteration-count direction fill-mode; */
animation: Shake 300ms ;
color:red;
}
input:invalid:focus{
/* animation: name duration timing-function delay iteration-count direction fill-mode; */
animation: Shake 300ms ;
color:red;
}

@keyframes Shake {
25%{
  transform: translateX(4px);
}
50%{
  transform: translateX(-4px);
}
75%{
  transform: translateX(4px);
}

}

.rotate-center:hover {
-webkit-animation: rotate-center 0.9s ease-in-out both;
        animation: rotate-center 0.9s ease-in-out both;
}

@-webkit-keyframes rotate-center {
0% {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}
@keyframes rotate-center {
0% {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}

.slide-bck-left:hover {
-webkit-animation: slide-bck-left 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        animation: slide-bck-left 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes slide-bck-left {
0% {
  -webkit-transform: translateZ(0) translateX(0);
          transform: translateZ(0) translateX(0);
}
100% {
  -webkit-transform: translateZ(-400px);
          transform: translateZ(-400px);
}
}
@keyframes slide-bck-left {
0% {
  -webkit-transform: translateZ(0) translateX(0);
          transform: translateZ(0) translateX(0);
}
100% {
  -webkit-transform: translateZ(-400px);
          transform: translateZ(-400px);
}
}

.slide-in-right {
-webkit-animation: slide-in-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
0% {
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
  opacity: 0;
}
100% {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
}
@keyframes slide-in-right {
0% {
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
  opacity: 0;
}
100% {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
}
.slide-out-right {
-webkit-animation: slide-out-right 0.9s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: slide-out-right 0.9s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-out-right {
0% {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
100% {
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
  opacity: 0;
}
}
@keyframes slide-out-right {
0% {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
100% {
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
  opacity: 0;
}
}

.slide-in-bottom {
-webkit-animation: slide-in-bottom 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-bottom 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
0% {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
}
100% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
}
@keyframes slide-in-bottom {
0% {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
}
100% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
}

.shadow-drop-2-lr:hover {
	-webkit-animation: shadow-drop-2-lr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-lr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          background-color: #E65C4F;
          color: #ffff;
          border:2px solid #E65C4F;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-5-26 1:48:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-2-lr
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-drop-2-lr {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35), 12px 0 20px -12px rgba(0, 0, 0, 0.35);
            box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35), 12px 0 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-lr {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35), 12px 0 20px -12px rgba(0, 0, 0, 0.35);
            box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35), 12px 0 20px -12px rgba(0, 0, 0, 0.35);
  }
}
