<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
            crossorigin="anonymous">
            
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    
    <link rel="stylesheet" href="css/style.css">
    <link rel='stylesheet' href='./Welcome.css'>

        <title>Point Of Sale</title>
    </head>
    <body>
        <div class="Box0 ">
            <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 690"
                xmlns="http://www.w3.org/2000/svg" class="transition
                duration-300 ease-in-out delay-150 "><style>
            .path-0{
              animation:pathAnim-0 4s;
              animation-timing-function: linear;
              animation-iteration-count: infinite;
            }
            @keyframes pathAnim-0{
              0%{
                d: path("M 0,700 C 0,700 0,233 0,233 C 139.42857142857142,229.25 278.85714285714283,225.5 380,234 C 481.14285714285717,242.5 544,263.25 672,259 C 800,254.75 993.1428571428571,225.50000000000003 1132,217 C 1270.857142857143,208.49999999999997 1355.4285714285716,220.75 1440,233 C 1440,233 1440,700 1440,700 Z");
              }
              25%{
                d: path("M 0,700 C 0,700 0,233 0,233 C 119.39285714285714,246.60714285714286 238.78571428571428,260.2142857142857 353,246 C 467.2142857142857,231.78571428571428 576.2499999999999,189.75000000000003 702,207 C 827.7500000000001,224.24999999999997 970.2142857142858,300.7857142857143 1096,315 C 1221.7857142857142,329.2142857142857 1330.892857142857,281.1071428571429 1440,233 C 1440,233 1440,700 1440,700 Z");
              }
              50%{
                d: path("M 0,700 C 0,700 0,233 0,233 C 149,184.71428571428572 298,136.42857142857142 396,159 C 494,181.57142857142858 541,275 666,301 C 791,327 994,285.57142857142856 1136,263 C 1278,240.42857142857142 1359,236.71428571428572 1440,233 C 1440,233 1440,700 1440,700 Z");
              }
              75%{
                d: path("M 0,700 C 0,700 0,233 0,233 C 125.78571428571428,260.32142857142856 251.57142857142856,287.64285714285717 374,304 C 496.42857142857144,320.35714285714283 615.5,325.74999999999994 726,305 C 836.5,284.25000000000006 938.4285714285713,237.35714285714286 1056,221 C 1173.5714285714287,204.64285714285714 1306.7857142857142,218.82142857142856 1440,233 C 1440,233 1440,700 1440,700 Z");
              }
              100%{
                d: path("M 0,700 C 0,700 0,233 0,233 C 139.42857142857142,229.25 278.85714285714283,225.5 380,234 C 481.14285714285717,242.5 544,263.25 672,259 C 800,254.75 993.1428571428571,225.50000000000003 1132,217 C 1270.857142857143,208.49999999999997 1355.4285714285716,220.75 1440,233 C 1440,233 1440,700 1440,700 Z");
              }
            }</style><defs><linearGradient
                        id="gradient" x1="26%" y1="6%" x2="74%" y2="94%"><stop
                            offset="5%" stop-color="#8ed1fc"></stop><stop
                            offset="95%" stop-color="#326789"></stop></linearGradient></defs><path
                    d="M 0,700 C 0,700 0,233 0,233 C 139.42857142857142,229.25
                    278.85714285714283,225.5 380,234 C 481.14285714285717,242.5
                    544,263.25 672,259 C 800,254.75
                    993.1428571428571,225.50000000000003 1132,217 C
                    1270.857142857143,208.49999999999997
                    1355.4285714285716,220.75 1440,233 C 1440,233 1440,700
                    1440,700 Z" stroke="none" stroke-width="0"
                    fill="url(#gradient)" fill-opacity="0.53"
                    class="transition-all duration-300 ease-in-out delay-150
                    path-0"></path><style>
            .path-1{
              animation:pathAnim-1 4s;
              animation-timing-function: linear;
              animation-iteration-count: infinite;
            }
            @keyframes pathAnim-1{
              0%{
                d: path("M 0,700 C 0,700 0,466 0,466 C 135.85714285714283,483.1071428571429 271.71428571428567,500.2142857142857 396,471 C 520.2857142857143,441.7857142857143 633,366.25000000000006 737,379 C 841,391.74999999999994 936.2857142857142,492.78571428571433 1052,522 C 1167.7142857142858,551.2142857142857 1303.857142857143,508.60714285714283 1440,466 C 1440,466 1440,700 1440,700 Z");
              }
              25%{
                d: path("M 0,700 C 0,700 0,466 0,466 C 149.28571428571428,428.3571428571429 298.57142857142856,390.7142857142857 425,393 C 551.4285714285714,395.2857142857143 654.9999999999999,437.49999999999994 768,474 C 881.0000000000001,510.50000000000006 1003.4285714285716,541.2857142857143 1117,539 C 1230.5714285714284,536.7142857142857 1335.2857142857142,501.35714285714283 1440,466 C 1440,466 1440,700 1440,700 Z");
              }
              50%{
                d: path("M 0,700 C 0,700 0,466 0,466 C 113.92857142857142,417.7857142857143 227.85714285714283,369.57142857142856 358,383 C 488.14285714285717,396.42857142857144 634.4999999999999,471.5 755,505 C 875.5000000000001,538.5 970.1428571428573,530.4285714285714 1080,517 C 1189.8571428571427,503.57142857142856 1314.9285714285713,484.7857142857143 1440,466 C 1440,466 1440,700 1440,700 Z");
              }
              75%{
                d: path("M 0,700 C 0,700 0,466 0,466 C 87.25,434.42857142857144 174.5,402.85714285714283 312,388 C 449.5,373.14285714285717 637.2500000000001,375.00000000000006 784,388 C 930.7499999999999,400.99999999999994 1036.5,425.14285714285717 1139,440 C 1241.5,454.85714285714283 1340.75,460.42857142857144 1440,466 C 1440,466 1440,700 1440,700 Z");
              }
              100%{
                d: path("M 0,700 C 0,700 0,466 0,466 C 135.85714285714283,483.1071428571429 271.71428571428567,500.2142857142857 396,471 C 520.2857142857143,441.7857142857143 633,366.25000000000006 737,379 C 841,391.74999999999994 936.2857142857142,492.78571428571433 1052,522 C 1167.7142857142858,551.2142857142857 1303.857142857143,508.60714285714283 1440,466 C 1440,466 1440,700 1440,700 Z");
              }
            }</style><defs><linearGradient
                        id="gradient" x1="26%" y1="6%" x2="74%" y2="94%"><stop
                            offset="5%" stop-color="#8ed1fc"></stop><stop
                            offset="95%" stop-color="#326789"></stop></linearGradient></defs><path
                    d="M 0,700 C 0,700 0,466 0,466 C
                    135.85714285714283,483.1071428571429
                    271.71428571428567,500.2142857142857 396,471 C
                    520.2857142857143,441.7857142857143 633,366.25000000000006
                    737,379 C 841,391.74999999999994
                    936.2857142857142,492.78571428571433 1052,522 C
                    1167.7142857142858,551.2142857142857
                    1303.857142857143,508.60714285714283 1440,466 C 1440,466
                    1440,700 1440,700 Z" stroke="none" stroke-width="0"
                    fill="url(#gradient)" fill-opacity="1" class="transition-all
                    duration-300 ease-in-out delay-150 path-1"></path></svg>
        </div>


        <div class="Box ">
            <div class="" id="modules">
                <h1>Welcome POS</h1>
                <div>
                    <button type="btn" class="btn btn-outline-primary btn-lg" onclick="login()" > Log in</button>
                    <button type="btn" class="btn btn-outline-primary btn-lg" onclick="SignUp()">
                        Sign in</button>
                </div>
            </div>
            <div class="main">
                <!-- Sign up form -->
                <section class="signup mt-5  d-none fade-in-left" id="signup">
                    <div class="container">
                        <div class="signup-content">
                            <div class="signup-form">
                                <h2 class="form-title">Sign up</h2>
                                <!-- <form method="POST"  class="register-form" id="register-form">-->
                                    <div class="form-group">
                                        <label for="name"><i class="zmdi
                                                zmdi-account
                                                material-icons-name"></i></label>
                                        <input type="text" name="name" id="name"
                                            placeholder="Your Name"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="email"><i class="zmdi
                                                zmdi-email"></i></label>
                                        <input type="email" name="email"
                                            id="email" placeholder="YourEmail"/>
                                    </div>
                                    <p id="email_error"></p>
                                    <div class="form-group">
                                        <label for="pass"><i class="zmdi
                                                zmdi-lock"></i></label>
                                        <input type="password" name="pass"
                                            id="pass" placeholder="Password"/>
                                    </div>
                                    <p id="pass_error"></p>
                                    <div class="form-group">
                                        <label for="re-pass"><i class="zmdi
                                                zmdi-lock-outline"></i></label>
                                        <input type="password" name="re_pass"
                                            id="re_pass" placeholder="Repeat your password"/>
                                    </div>
                                    <p id="re_pass_error"></p>
                                    <div class="form-group">
                                        <input type="checkbox" name="agree-term"
                                            id="agree-term" class="agree-term"
                                            />
                                        <label for="agree-term"
                                            class="label-agree-term"><span><span></span></span>I
                                            agree all statements in <a href="#"
                                                class="term-service">Terms of
                                                service</a></label>
                                    </div>
                                    <p id="agree-term_error"></p>
                                    <div class="form-group form-button">
                                        <input type="submit" name="signup" onclick="Register()"
                                            id="signup" class="form-submit"
                                            value="Register"/>
                                    </div>
                                <!-- </form> -->
                            </div>
                            <div class="signup-image">
                                <figure><img src="images/signup-image.jpg"
                                        alt="sing up image"></figure>
                                <a href="#" class="signup-image-link" onclick="ModuleSwitch()">I am
                                    already member</a>
                            </div>
                            
                        </div>
                    </div>
                </section>

                <section class="sign-in mt-0 d-none fade-in-left" id="sign-in">
                    <div class="container">
                        <div class="signin-content">
                            <div class="signin-image">
                                <figure><img src="images/signin-image.jpg" alt="sing up image"></figure>
                                <a href="#" class="signup-image-link" onclick="ModuleSwitch()">Create an account</a>
                            </div>
        
                            <div class="signin-form">
                                <h2 class="form-title">Sign up</h2>
                                <!-- <form method="POST" class="register-form" id="login-form"  action="../../PHP/Register.php" > -->
                                    <div class="form-group">
                                        <label for="your_email"><i class="zmdi zmdi-account material-icons-name" id="your_email_icon"></i></label>
                                        <input type="text" name="your_email" id="your_email" placeholder="Your Name"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="your_pass"><i class="zmdi zmdi-lock" id="your_pass_icon"></i></label>
                                        <input type="password" name="your_pass" id="your_pass" placeholder="Password"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                                    </div>
                                    <div class="form-group form-button">
                                        <input type="submit" name="signin" id="signin" class="form-submit"  onclick="LoginData()"  value="Log in"/>
                                    </div>
                                <!-- </form> -->
                                <div class="social-login">
                                    <span class="social-label">Or login with</span>
                                    <ul class="socials">
                                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>















        </div>

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script> -->
        <!-- Option 2: Separate Popper and Bootstrap JS -->

        <script src="https://code.jquery.com/jquery-3.6.4.js" 
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
        crossorigin="anonymous"></script>

        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
            integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
            crossorigin="anonymous"></script>
        <script src="./Welcome.js"></script>

    </body>
</html>